@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Raleway:300,700');
body{
  font-family:'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
}
header {
  /*background-color: rgba(0,196,255,.2);*/
  padding: 20px 250px 50px 250px;
  background-image: url("../images/newsprint.jpg");
  background-size: cover;
  margin-bottom: 50px;
  border-bottom: 25px solid #00627F;
}
nav {
  background-color: #00627F;
  height: 50px;
  padding-top: 8px;
}
ul {
  list-style: none;
  padding: 10px 0;
}
li {
  display: inline;
  color: white;
}
h1 {
  font-family: 'Bree Serif', serif;
  font-size: 90px;
  color: #00627F;
  padding: 50px 0px;
}
h2 {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #00627F;
  line-height: 1em;
  margin-top: -47px;
  padding-bottom: 10px;
  background-color: white;
  width: 156px;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  margin: -40px auto 0;
}
div {
  padding: 25px;
}
div img {
  max-width: 150px;
}
h3, h4 {
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #00627F;
  line-height: 2em;
}
a {
  text-decoration: none;
}
aside {
 float: left;
 padding: 15px 25px 0px 0px;
}
article p {
  padding-bottom: 1em;
}
aside img {
  max-width: 290px;
}
footer {
  background-color: #00627F;
}
#name{
  font-family: 'Bree Serif', serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #00C4FF;
  float: left;
  padding-left: 25px;
}
#slogan {
  font-style: italic;
  font-size: 24px;
  line-height: 1.5em;
}
#description {
  font-weight: bold;
  line-height: 1.5em;
  padding:10px 0px 50px 0px;
}
#button {
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
  background-color: #EEEEEE;
  color: #00627F;
  padding: 6px 10px;
  border: 1px solid #00C4FF;
}
#container {
  padding: 0px 150px 0px 0px;
  margin-left: 150px;
}
#two {
  padding: 0px 150px 50px 0px;
  margin-left: 150px;
}
#two_column {
  background-image: url("../images/crosshatch.png");
  background-size: cover;
  padding: 50px 150px;
}
#left {
    float: left;
    width: 30%;
}
#right {
    float: right;
    width: 62%;
    text-align: left;
}
#contact {
  background-color: rgba(100,100,100,.2);
  padding: 50px 150px 50px 150px;
}
#linkedin {
  max-height: 21px;
  padding-left: 10px;
  vertical-align: -3px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.links {
  float: right;
  padding-right: 25px;
}
.portfolio {
  width: 175px;
  border: 2px solid #D3D3D3;
  position: relative;
  float: left;
  margin: 25px;
}
.footer {
  font-family: 'Bree Serif', serif;
  font-size: 21px;
  line-height: 1em;
  text-transform: uppercase;
  padding: 50px;
  color: #00C4FF;
}